:root {
  --bgColor: #282c34;
  --fontColor: #ffffff;
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title img {
  max-height: calc(100px + 2vmin);
  animation: logo-spin infinite 20s linear;
}

.title .link {
  color: #61dafb;
}

.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

.title h2,
.title p {
  text-align: center;
}
